<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To Do </title>
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= kind_of_day %> </h1>
    </div>
    <ul>
    <div class="box2"> 
            <% for(var i=0;i< list_items.length;i++){ %>
        <div class="item">
            <input type="checkbox">
                <p><%= list_items[i] %> </p> 
        </div>
            <% } %>
        <form class="item" action="/" method="post"> 
            <input type="text" name="inp1" placeholder="Add List Item" autocomplete="off">
            <button type="submit"> + </button>
        </form>
    </div>
    
</body>
</html>